ul {
    list-style-type: none;
  }

.Movies {
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

.Movies2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Movies3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

body {
    background-color: lightgray;
}

.eersteblok, .tweedeblok, .derdeblok {
  background-color: white;
  width: 35vw;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0;
text-align: center;

}
img.rounded-image {
    border-radius: 50%;
}

h1 {
    color: red;
}